@model IEnumerable<WebProducts.Models.Product>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>@Html.ActionLink("Create new","Create","Product")</p>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Category)</th>
            <th>@Html.DisplayNameFor(model=>model.ProductName)</th>
            <th>@Html.DisplayNameFor(model=>model.Description)</th>
            <th>@Html.DisplayNameFor(model=>model.AvailableDate)</th>
            <th>Detalles</th>
            <th>Editar</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.ActionLink(item.Category,"Index", new { category = item.Category })</td>
            <td>@Html.ActionLink(item.ProductName, "Index", new { name = item.ProductName })</td>
            <td>@Html.DisplayFor(modelItem=>item.Description)</td>
            <td>@Html.DisplayFor(modelItem=>item.AvailableDate)</td>
            <td>@Html.ActionLink("Detalles", "Detail", new { id = item.Id })</td>
            <td>@Html.ActionLink("Editar","Edit",new { id = item.Id })</td>
            <td>@Html.ActionLink("Delete","Delete", new { id = item.Id })  </td>
        </tr>
        }
    </table>
</body>
</html>
